<div class="flex-centrilize-two-boxes two-boxes">

	<div class="questions-list">
		<p class="count-of-questions">
		<b><%= @total_answered_questions %>/<%= @total_category_questions %> </b> 
		küsimusele vastatud
		</p>

		<% if @question.question_type == 'multiple choice' %>
			<ul class="question-number-list">
				<% @category.questions.each_with_index do |question, index| %>
					<li class="<%= 'active-question' if index+1 == @total_answered_questions + 1 %>
										<%= 'answered' if question.answered?(current_user) %>
										<%= ' green' if question.multiple_answers_were_correct?(current_user) %>
					">
					<%= index+1 %>. Question</li>
				<% end %>
			</ul>

		<% else %>

		<p>
			<ul class="question-number-list">
				<% @category.questions.each_with_index do |question, index| %>
					<li class="<%= 'active-question' if index+1 == @total_answered_questions + 1 %>
										<%= 'answered' if question.answered?(current_user) %>
										<%= ' green' if question.answered_was_correct?(current_user) %>
					">
					<%= index+1 %>. Question</li>
				<% end %>
			</ul>
		</p>

		<% end %>

	</div>

	<% if @question.question_type == 'multiple choice' %>
		<%= render partial: 'checkbox_question' %>
	<% else %>
		<%= render partial: 'radiobutton_question' %>
	<% end %>
</div>

