<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <%= link_to t('admin.exams.index.header'), admin_exams_path %>
        </li>
    </ol>
</nav>

<h1 class="mb-3">Exam #<%= @exam.id %>
    <span class="badge badge-<%= @exam.passed? ? 'success' : 'danger' %>">
        <%= @exam.passed? ? 'Passed' : 'Failed' %></span>
</h1>

<div class="row">
    <div class="col-sm-4">
        <%= render 'general' %>
    </div>

    <div class="col-sm-8">
        <div class="card mb-3">
            <%= render 'results' %>
        </div>
    </div>
</div>
