<div class="login-wrapper">
	<%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
		<div class="field">
			<%= f.text_field :username, autofocus: true, required: true, autocomplete: "username", placeholder: "Username" %>
		</div>

		<div class="field">
			<%= f.password_field :password, required: true, autocomplete: "current-password", placeholder: "Password" %>
		</div>

		<% if devise_mapping.rememberable? %>
			<div class="checkbox-form-wrapper">
				<%= f.check_box :remember_me, class: 'regular-checkbox' %>
				<%= f.label :remember_me %>
			</div>
		<% end %>

		<div>
			<%= f.submit "Log in", class: 'actions' %>
		</div>
	<% end %>
</div>