<% if user_signed_in? %>
	<div class="container">
		<h2>Your quizzes:</h2>
		<% if @quizzes.any? %>

			<table class="table-custom">
				<thead>
					<th>ID</th>
					<th>Title</th>
					<th>Status</th>
					<th>Type</th>
					<th>Challenges</th>
					<th>Actions</th>
				</thead>
				<tbody>
				
				<% @quizzes.each do |quiz| %>
					<tr>
						<td><%= quiz.id %></td>
						<td><%= quiz.title %></td>
						<td>Status</td>
						<td>Type</td>
						<td>Challenges</td>
						<td><%= link_to "Start", quiz_path(quiz), class: 'actions' %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
		<% else %>
			<p>No any quizzes</p>
		<% end %>
	</div>

<% else %>

<div class="login-wrapper">
	<%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
		<div class="field">
			<%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
		</div>

		<div class="field">
			<%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
		</div>

		<% if devise_mapping.rememberable? %>
			<div class="checkbox-form-wrapper">
				<%= f.check_box :remember_me, class: 'regular-checkbox' %>
				<%= f.label :remember_me %>
			</div>
		<% end %>

		<div class="actions">
			<%= f.submit "Log in" %>
		</div>
	<% end %>
<% end %>

</div>