<% if user_signed_in? %>
	<div class="container">

		<%= @result %>

		<h2>Your quizzes:</h2>
		<% if @quizzes.any? %>

			<table class="table-custom">
				<thead>
					<th>ID</th>
					<th>Title</th>
					<th>Status</th>
					<th>Type</th>
					<th>Actions</th>
				</thead>
				<tbody>
				
				<% current_user.quizzes.each do |quiz| %>
					<tr>
						<td><%= quiz.id %></td>
						<td><%= quiz.title %></td>
						<td>
							<% if quiz.theory %>
								<% if quiz.result %>
									
									<% if quiz.result.result %>
										<span class='green'>Success</span>
									<% else %>
										<span class='answered'>Failed</span>
									<% end %>

								<% else %>
									Waiting for chellenge
								<% end %>
							<% else %>
								<% @practice = PracticeResult.find_by(user: current_user) %>
								<% unless @practice.nil?%>
									<%= @practice.result %>
								<% end %>
									Waiting for chellenge
							<% end %>
						</td>
						<td>
							<% if quiz.theory %>
								Theory
							<% else %>
								Practice
							<% end %>
						</td>
						<% if quiz.theory %>
							<td><%= link_to "Start", quiz_prepare_path(quiz), class: 'actions' %></td>
						<% else %>
							<td><%= link_to "Start", practice_index_path, class: 'actions' %></td>
						<% end %>
					</tr>
				<% end %>
				</tbody>
			</table>
		<% else %>
			<p>No any quizzes</p>
		<% end %>
	</div>

<% else %>

<div class="login-wrapper">
	<%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
		<div class="field">
			<%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "Username" %>
		</div>

		<div class="field">
			<%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
		</div>

		<% if devise_mapping.rememberable? %>
			<div class="checkbox-form-wrapper">
				<%= f.check_box :remember_me, class: 'regular-checkbox' %>
				<%= f.label :remember_me %>
			</div>
		<% end %>

		<div>
			<%= f.submit "Log in", class: 'actions' %>
		</div>
	<% end %>
<% end %>

</div>