<div class="container result-justify-center">
	<div class="result-description">
		<h2 class="box-title header-centrilize">Your result is <%= @result.result %></h2>
		<h3 class="header-centrilize <%= @result.percent > 70 ? ' green' : ' answered' %>">
		<%= @result.percent.round(2) %>%
		</h3>
			<% unless @result.archived? %>
				<table class="table-custom">
					<thead>
						<th>Question</th>
						<th>Answer/s</th>
						<th>Result</th>
						<th>Correct answer/s</th>
					</thead>
					<tbody>
						<% @output.each do |question| %>
						<tr>
							<td><%= question.title %></td>

							<td>
								<ul>
									<%= raw @result.user_answer_questions(user_answer: @user_answer, question: question) %>
								</ul>
							</td>

							<td>
								<%= raw @result.answer_result(user_answer: @user_answer, question: question) %>
							</td> 

							<td>
								<% question.correct_answers.each do |answer| %>
									<div><%= answer.title_en %></div>
								<% end %>
							</td>

						</tr>
						<% end %>
					</tbody>
				</table>
		<% else %>
			You pass tests at <%= @result.created_at %> and you 
			<% if @result.result %>
				passed
			<% else %>
				failed
			<% end %>
		<% end %>

		<div class="box-button-wrapper">
			<%= link_to "Back to dashboard", root_path, class: 'actions' %>
		</div>
	</div>
</div>

