<div class="container result-justify-center">
	<div class="result-description">
		<h2 class="box-title header-centrilize">Your result is <%= @result.result %></h2>
			<% unless @result.archived? %>
				<table class="table-custom">
					<thead>
						<th>Question</th>
						<th>Answer/s</th>
						<th>Result</th>
						<th>Correct answer/s</th>
					</thead>
					<tbody>
						<% @output.each do |question| %>
						<tr>
							<td><%= question.title %></td>

							<td>
							<ul>
								<% @answer_ids = @user_answer.answer_questions.where(question: question).pluck(:answer_id) %>
								<% @col = Answer.where(id: @answer_ids) %>
								<% @col.each do |answer| %>
									
								<li><%= answer.title_en %></li>
									
								<% end %>
								</ul>
							</td>

							<td>
								<% @answer_ids = @user_answer.answer_questions.where(question: question).pluck(:answer_id) %>
								<% @col = Answer.where(id: @answer_ids) %>
								<% @flag = true %>
								<% @col.each do |answer| %>
									<% @flag = false unless answer.correct? %>
								<% end %>

									<% if @flag %>
										<span class="green">Correct</span>
									<% else %>
										<span class="answered">Failed</span>
									<% end %>
							</td> 

							<td>
								<% question.correct_answers.each do |answer| %>
									<div><%= answer.title_en %></div>
								<% end %>
							</td>

						</tr>
						<% end %>
					</tbody>
				</table>

			<% if @resulting %>
				This is just testing send request to http://registry:3000/repp/v1/registrar/accreditation/push_results
				<%= @resulting %>
				<%= @resulting_count %>
			<% end %>
		<% else %>
			You pass tests at <%= @result.created_at %> and you 
			<% if @result.result %>
				passed
			<% else %>
				failed
			<% end %>
		<% end %>

		<div class="box-button-wrapper">
			<%= link_to "Back to dashboard", root_path, class: 'actions' %>
		</div>
	</div>
</div>

