<%= form_with(model: [:admin, @question], local: true) do |form| %>
  <%= render 'form_errors', target: @question %>

  <div class="field">
    <%= form.label :text_en %>
    <%= form.text_field :text_en %>
  </div>

  <div class="field">
    <%= form.label :text_et %>
    <%= form.text_field :text_et %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
