<p id="notice"><%= notice %></p>

<h1><%= t '.header' %></h1>

<table class="table">
    <tbody>
        <% @questions.each do |question| %>
            <tr>
                <td><%= link_to question, admin_question_path(question) %></td>
                <td>
                    <%= link_to 'Edit', edit_admin_question_path(question) %>
                    <%= link_to 'Destroy', admin_question_path(question), method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Question', new_admin_question_path %>
