<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to t('admin.questions.index.header'), admin_questions_path %></li>
    </ol>
</nav>

<h1><%= @question %></h1>

<p>
    <strong>Text EN:</strong>
    <%= @question.text_en %>
</p>

<p>
    <strong>Text ET:</strong>
    <%= @question.text_et %>
</p>

<p>
    <strong>Comment:</strong>
    <%= @question.comment %>
</p>

<%= link_to 'Edit', edit_admin_question_path(@question) %>
