<!DOCTYPE html>
<html>

<head>
  <title>AccreditationCenterV2</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet"> 
</head>

<body>
  <%= render 'shared/navbar' %>
  <div class="banner">
	  <h1 class="h1-header">QUUUUIZZZ</h1>
    <% if user_signed_in? %>
        <h1 class="h1-header"><%= current_user.username %></h1>
    <% end %>
  </div>

  <%= yield %>
  <%= toastr_flash %>
</body>

</html>